# .env.example
# Copy file ini ke .env dan isi nilainya

SECRET_KEY=isi-dengan-string-acak-minimal-32-karakter
FLASK_ENV=development

RS_NAMA=Nama Rumah Sakit
RS_ALAMAT=Alamat Rumah Sakit

DB_NAME=assets.db